* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
}
.app-container{
    max-width: 1170px;
    padding:60px;
    margin: auto;
}
.title{
    margin-bottom: 40px;
}
.selectContainer{
    margin-bottom: 40px;
}
.listOfCardsItems{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
